.col-md-12
  h1(translate) User's agents
  .container.margin-bottom
    p(ng-if='ctrl.items && ctrl.items.length === 0' translate) No agents
    table.table.table-responsive.table-striped.table-bordered.table-hover(ng-if='ctrl.items && ctrl.items.length > 0')
      thead
        th(translate) Agent name
        th(colspan='2')
      tbody
        tr(ng-repeat='agent in ctrl.items track by agent.id')
          td
            | {{agent.name}}
          td
            a(href='' ng-click='ctrl.goToAccounts(agent.id)')
              span(translate) Accounts |
            a(href='' ng-click='ctrl.goToInvites(agent.id)')
              span(translate) | Invites |
            a(href='' ng-click='ctrl.goToOperations(agent.id)' translate) | Operations
    form(role='form' name='form' ng-submit='ctrl.save(form)')
      fieldset
        legend(translate)
          | Add new agent
        .form-group
          label.control-label(for='name' translate) Name
          input.form-control(id='name' placeholder="{{'Name'|translate}}" ng-required='true' ng-model='ctrl.name')
        button.btn.btn-primary(type='submit' ng-disabled='!form.$valid' translate) Save
        button.btn.btn-default(type='button' ng-click='ctrl.cancel(form)' translate) Cancel
